[Unit]
Description=Watchdog réseau - toutes les minutes
Requires=watchdog-net.service

[Timer]
OnCalendar=minutely
AccuracySec=10s
Persistent=true

[Install]
WantedBy=timers.target
